
<h1>Gossip n° <%= @gossip.id %></h1>
<p>Auteur anonyme:<strong> <%= @gossip.anonymous_author %></strong></p>
<p>contenu:  <strong><%= @gossip.content %></strong></p>
<%= link_to "Page d'accueil", gossips_path %>
